@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

body {
    font-family: "open sans";
    padding: 3% 3%;
    margin: 0;
}
#menuToggle {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
    color: #232628;
}
.white {
    color: #FFFFFF;
}
.orange {
    color: #CC6119;
    font-size: 0.8em;
}
.orange.titre {
    font-size: 1em;
}
#headerPrincipal {
    background-color: #232628;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 86px;
    font-family: montserrat;
    color: #232628;
}
#headerPrincipal p, address {
    font-size: 0.7em;
}
address {
    font-style: normal;
    font-size: 0.6em;
}
#adressIc, #telIc {
    width: 32px;
    height: 32px;
}
.headerText {
    padding: 5px;
}
.barreDeLien {
    position: absolute;
    width: 94%;
    height: 5%;
}
.barreDeLien ul {
    padding-right: 20em;
}

.barreDeLien ul li a {
    font-size: 0.8em;
    color: #000000;
}
.barreDeLien a {
    text-decoration: none;
}
.barreDeLien a:hover {
    color: #ffffff;
    background-color: #CC6119;
}

header h1, p, address  {
    color: #FFFFFF;
}
section > h2 {
    color: #FFFFFF;
    background-color: #232628;
    margin: 0;
    padding: 1em;
}
.blanc {
    color: #FFFFFF;
}
.noir {
    color: #000000;
    font-family: "open sans";
}
.gris {
    color: rgb(128, 128, 128);
}
.blue {
    color: #6C98E1;
}
#firstPart {
    padding: 3em 3em;
}
.separation {
    padding-top: 1.5em;
}
.listPerso {
    list-style: none;
}
.listPerso li {
    background-image: url(/images/iconList.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 2em;
    padding-bottom: 10px; 
}
#colorPart {
    background: url(/images/vente-location.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 2em;
    min-height: 500px;
}
#divjaune {
    background-color: #fab637e1;
    padding: 3em;
    margin-bottom: 2em;
}
#divjaune h4, #divrouge h4 {
    font-size: 2em;
}
#divrouge {
    background-color: #ff4848e1;
    padding: 3em;
    margin-bottom: 2em;
}
#vehiculesrecents {
    background-color: #232628;
    padding: 0 1em 0.5em;
    margin-right: -12px;
    margin-left: -12px;
}
#vehiculesrecents h4 {
    color: #FFFFFF;
    padding: 1em;
    padding-bottom: 0.5em;
    font-size: 2.5em;
    border-bottom: solid 3px #CC6119;
    text-align: center;
}
#vehiculesrecents figure {
    padding-top: 2em;
}
#vehiculesrecents button {
    max-height: 3em;
}
#vehiculesrecents button del {
    color: #000000;
    font-size: 0.9em;
}
.boutonDouble {
    max-height: 3.4em !important;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: #6b98e0;
    border-style: none;
}
#lastPart {
    padding: 2em;
}
#lastPart h4 {
    font-size: 2em;
    padding: 0 0 2.5em 2em;
}
#lastPart img {
    width: 80px;
}
.btnContact {
    border-radius: 5px;
}
#basPage {
    background: url(/images/vehicule3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 3em;
}
#divJaune2 {
    background-color: #fab637dc;
    padding: 3em;
}
#divJaune2 h5 {
    font-size: 2em;
    padding-bottom: 0;
    padding-right: 2em;
}
#divJaune2 p {
    padding: 0 1em 0 0;
}
footer {
    background-color: #232628;
}
footer p{
    color: #ECEFF3;    
}

#finFooter {
    text-align: center;
    border-top: solid 0.1px rgb(128, 128, 128);
    padding: 1em;
}
#footer {
    padding: 10%;
}
#footer label {
    padding-top: 1em;
    padding-bottom: 1em;
}
#reseauxIc img {
    background-color: #FFFFFF;
    margin: 0.2em;
    margin-bottom: 2em;
    width: 3em;
}
.nlForm {
    border-radius: 0; 
    background-color: #CC6119;
    border: none;
}
.nlForm img {
    background-color: #CC6119; 
    width: auto;
}
a {
    text-decoration: none;
}
.imageContact {
    height: 300px; 
    overflow:hidden; 
    min-width: 768px;
}
.imageContact>img {
    width: 100%;
}
#formulaire {
    background-image: url(/images/vehicule3.jpg);
    height: 300px; 
    overflow:hidden; 
    min-width: 768px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#titreForm {
    padding: 1em 0 0.5em 1em;
   
}
#frmContact {
    margin-top: -10em; 
    margin-bottom: 3em ; 
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);"
}
.btnForm {
    border-radius: 3px; 
    padding: 1em 3em; 
    margin-bottom: 2em;
}

@media screen and (min-width: 768px){
    #contenuPrincipal section h2 {
        padding-left: 4em;
    }
    #Header #headerPrincipal h1 {
        padding-left: 0em;
    }
    #divrouge, #divjaune {
        margin-bottom: 11em;
    }
    .btnContact {
        margin: 0 35% 0 35%
    }
    #footer {
        padding: 1em 3em 1em 3em;
    }
    #footer>div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #footer>div>div {
        padding: 2em;    
    }
    #footer label {
        padding: 0 0 1em 0;
    }

}
@media screen and (min-width: 1786px){
    #headerPrincipal {
        padding: 0 0 0 11.5%;
    }
}

